ul
{ /*
   * 	去掉列表的样式**/
	list-style: none;
}
/*
 去下划线**/
a{
	text-decoration: none;
}
ul li

{
	width: 110px;
	height: 40px;
	/*距离上边3像素**/
	margin-top: 3px;
	font-size: 18px;
	/*border:1px solid;*/
	text-align: center;
	line-height: 40px;
	border-radius:3px;
}
li:hover
{
	background-color: #fa2f2f;
	color:white;
	cursur:hand;
	transition: background-color 1s;
}
